body{
    overflow-x: hidden;
    scroll-behavior: smooth;
       background-image: linear-gradient(rgb(202, 217, 42), rgb(21, 47, 180));
       
    background-color: rgba(0, 0, 0, 0.9);
    color: rgb(249, 246, 246);
}

.min-h-screen{
    min-height: 100vh;
}
.bg-red{
    background-color: red;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}
.item-center{
    align-items: center;
}
.justify-between{
    justify-content:space-between ;
}

.justify-center{
    justify-content: center;
}

.font-bold{
    font-weight: 800;
}
.my-1{
    margin-top:13px;
    margin-bottom: 13px;
}

.my-2{
    margin-top: 26px;
    margin-bottom: 26px;
}
.px-2{
    padding-left: 13px;
    padding-right: 13px;
}

.text-blue{
    color: rgb(77, 150, 113);
}
.btn{
    padding: 12px 14px;
    border: 2px solid rgb(20, 235, 214);
    color: rgb(45, 79, 94);
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    background-color: rgb(203, 240, 240) ;
}

.navbar li:hover {
    
    padding: 1px;
    color:rgb(210, 140, 18);
    cursor:pointer;
    scale:1.06;
}

.section0 .navbar li:hover {
    border: 8px solid rgb(114, 9, 74);
    border-radius: 15px;
    background-image: linear-gradient(to right, rgb(232, 83, 170),rgb(215, 215, 53));
    padding: 10px;
    color:rgb(254, 255, 253);
    cursor:pointer;
    scale:1.06;
}


.btn:hover{
    border: none;
    
    background-image: none;
    color:rgb(203, 240, 240) ;
    background-color:rgb(45, 79, 94); ;
}
.text-center{
    text-align: center;
}